*{
    margin: 0px;
    padding: 0px;
}

.main-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}
/*ESTILOS HEADER*/
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    align-items: center;
    justify-content: flex-end;
}
.nav{
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}
.logo{
    display: flex;
    width: 15%;
    justify-content: center;
}
.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav ul li{
    list-style: none;
}
.nav ul li:last-child{
    margin-right: 25px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    color: black;
    
}


/*ESTILOS ARTICULOS*/
.contenido-principal{
    width: 100%;
    height: auto;
    display: flex;
}
.section{
    width: 80%;
}
.articulo{
    width: 80%;
}
.articulo h2{
    width: 100%;
    background-color: #479311;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.articulo p{
    width: 95%;
    padding: 5px
}

.barra-lateral{
    width: 20%;
}
















 /*ESTILOS FOOTER*/

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #112193;
    justify-content: space-between;
}
.contactanos{
    width: 35%;
}
.contactanos h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
}
.contactanos ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactanos ul li{
    line-height: 20px;
    color: white;
    list-style: none;
}
.logodepto{
    width: 35%;
}
.menu-footer{
    width: 30%;
}



